@import "../../assets/styles/_variables";

.cards {
  margin-top: 80px;
  margin-bottom: 80px;
  position: relative;
  scroll-margin-top: 80px;

  &_title {
    margin-bottom: 25px;

    @media screen and (max-width: 992px) {
      text-align: center;
    }
  }

  &_wrapper {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;

    @media screen and (max-width: 1128px) {
      justify-content: center;
      gap: 30px;
    }

    @media screen and (max-width: 992px) {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }

    @media screen and (max-width: 375px) {
      gap: 30px;
    }
  }

  &::after {
    content: "";
    width: 700px;
    height: 700px;
    background: $bg-radial-gradient;
    position: absolute;
    z-index: -1;
    opacity: 0.4;
    left: -550px;
    bottom: -250px;
  }
}
