@import "../../assets/styles/_variables.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  position: relative;

  &::before {
    content: "";
    width: 600px;
    height: 600px;
    top: -300px;
    background: $bg-radial-gradient;
    position: absolute;
    z-index: -1;
    opacity: 0.3;
  }
}

.logo {
  font-family: "IM Fell Great Primer SC", serif;
  font-size: 2.4rem;
  color: $white;
}

.header_menu {
  display: flex;
  align-items: center;
  gap: 35px;

  & a {
    color: $white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      height: 3px;
      width: 10px;
      border-radius: 3px;
      background-color: $white;
      bottom: -7px;
      left: 50%-10;
      opacity: 0;
      transition: all 0.3s ease;
    }

    &:focus {
      background: linear-gradient(
        90deg,
        rgba(200, 36, 236, 1) 0%,
        rgba(223, 48, 141, 1) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &:focus::before {
      opacity: 1;
    }
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.header_btn {
  padding: 10px 24px;
}

.modal {
  &_input_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
  }

  &_input {
    max-width: 350px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
    color: $white;
    outline: none;
    border: none;
    background: linear-gradient(
      180deg,
      rgba(170, 20, 240, 0.3) 0%,
      rgba(203, 143, 232, 0.18) 33%,
      rgba(151, 60, 68, 0.05) 100%,
      rgba(199, 137, 228, 0) 100%
    );
    box-shadow: inset 0px 0px 1px 1px rgba(170, 20, 240, 0.15),
      0px 0px 1px 1px rgba(185, 54, 245, 0.25);

    &::placeholder {
      font-family: "Inter", sans-serif;
      color: $lightPink;
      opacity: 0.5;
    }
  }
}

.usericon {
  position: relative;
  cursor: pointer;
  padding: 10px;

  &_logout_btn {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $bg-color;
    border: 1px solid $lavender;
    color: white;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: $lavender;
    }
  }

  &:hover &_logout_btn {
    opacity: 1;
  }
}