@import "../../assets/styles/variables";

.menu_wrapper {
  display: flex;
  justify-content: end;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: none;
}

.menu {
  width: 50vw;
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  gap: 30px;
  align-items: center;
  z-index: 20;
  background: $bg-color;

  & a {
    color: $white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
  }

  &_link {
    cursor: pointer;
  }

  &_close_btn {
    position: absolute;
    top: 5px;
    right: 30px;
    padding: 15px;
    font-size: 1.7rem;
    z-index: 21;
    cursor: pointer;
  }

  @media screen and (min-width: 1401px) {
    display: none;
  }

  @media screen and (max-width: 1400px) {
    display: none;
  }

  @media screen and (max-width: 768px) {
    display: flex;
  }
}

.open {
  display: flex;
  opacity: 1;
  transition: opacity 0.3s ease;
}
